
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/select2/select2.full.js"></script>
    <link href="~/select2/select2.min.css" rel="stylesheet" />
</head>
<body>
    <h2>AddProject</h2>
    <table class="table table-bordered" style="width:800px">
        <tr>
            <td style="width:100px;vertical-align:middle">项目标题：</td>
            <td><input type="text" id="Name" class="form-control" /></td>
        </tr>
        <tr>
            <td style="width:100px;vertical-align:middle">开始时间：</td>
            <td><input type="date" id="StartDate" class="form-control" /></td>
        </tr>
        <tr>
            <td style="width:100px;vertical-align:middle">结束时间：</td>
            <td><input type="date" id="PlanEndDate" class="form-control" /></td>
        </tr>
        <tr>
            <td style="width:100px;vertical-align:middle">责任人：</td>
            <td>
                <select id="GetEmpId"></select>
            </td>
        </tr>
        <tr>
            <td style="width:100px;vertical-align:middle">参与人：</td>
            <td>
                <select id="GetEmpIn" name="GetEmpIn" multiple="multiple" style="width:400px"></select>
            </td>
        </tr>
        <tr>
            <td style="width:100px;vertical-align:middle">项目类型：</td>
            <td>
                <select id="GetTypeId"></select>
            </td>
        </tr>
        <tr>
            <td style="width:100px;vertical-align:middle">项目附件：</td>
            <td>
                <input type="hidden" name="name" value="" id="file_url" />
                <input type="file" name="file_fujian" id="file_fujian" onchange="fileUpLoad()" />

            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div style="text-align:center">
                    <input type="button" class="btn btn-primary" value="保存项目" onclick="Save()" />
                </div>

            </td>
        </tr>
    </table>
</body>
</html>
<script >
    $(document).ready(function () {
        $("#GetEmpIn").select2();
        GetEmpId();
        GetEmpIn();
        GetTypeId();
    });

    function GetEmpId() {
        $.ajax({
            url: '/Project/GetProject_emp',
            type: 'get',
            datatype: 'json',
            success: function (data) {
                $("#GetEmpId").empty();
                var html = "<option value=0>-请选择-</option>";
                for (var i = 0; i < data.length; i++) {
                    html += "<option value=" + data[i].Id + ">" + data[i].Name + "</option>";
                }
                $("#GetEmpId").append(html);
            }
        })
    }
    function GetEmpIn() {
        $.ajax({
            url: '/Project/GetProject_emp',
            type: 'get',
            datatype: 'json',
            success: function (data) {
                $("#GetEmpIn").empty();
                var html = "<option value=0>-请选择-</option>";
                for (var i = 0; i < data.length; i++) {
                    html += "<option value=" + data[i].Name + ">" + data[i].Name + "</option>";
                }
                $("#GetEmpIn").append(html);
            }
        })
    }
    function GetTypeId() {
        $.ajax({
            url: '/Project/GetProject_Type',
            type: 'get',
            datatype: 'json',
            success: function (data) {
                $("#GetTypeId").empty();
                var html = "<option value=0>-请选择-</option>";
                for (var i = 0; i < data.length; i++) {
                    html += "<option value=" + data[i].Id + ">" + data[i].Name + "</option>";
                }
                $("#GetTypeId").append(html);
            }

        })
    }

    function fileUpLoad() {
        var file = $("#file_fujian")[0].files[0];

        var fd = new FormData();
        fd.append("file_fujian", file);

        $.ajax({
            url: '/Project/fileUpLoad',
            type: 'post',
            data: fd,
            datatype: 'json',
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.length > 0) {
                    alert('上传成功');
                    $("#file_url").val(data)
                }
                else {
                    alert('上传失败')
                }
            }
        })
    }

    function Save() {

        $.ajax({
            url: '/Project/PostProject',
            data: {
                Name: $("#Name").val(),
                StartDate: $("#StartDate").val(),
                PlanEndDate: $("#PlanEndDate").val(),
                EmpId: $("#GetEmpId").val(),
                TypeId: $("#GetTypeId").val(),
                EmpIn: $("#GetEmpIn").val().toString(),
                AccessUrl: $("#file_url").val()
            },
            type: 'Post',
            datatype: 'json',
            success: function (data) {
                if (data != null) {
                    alert('添加成功');
                    location.href = '/Project/ShowProject';
                } else {
                    alert('添加失败');
                }
            }
        })
    }

</script>