
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Addtest</title>

    <link href="~/Views/select2-4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="~/Views/select2-4.1.0-beta.1/dist/js/select2.min.js"></script>
</head>
<body>
    <div class="container">
        <form action="send.php">
            <select id='m1' class="demo" multiple="multiple" name="m1[]">
                <optgroup label="广东">
                    <option value="1" selected>深圳</option>
                    <option value="2">广州</option>
                    <option value="3">佛山</option>
                    <option value="4">湛江</option>
                </optgroup>
                <optgroup label="浙江">
                    <option value="5">杭州</option>
                    <option value="6">宁波</option>
                    <option value="7">温州</option>
                </optgroup>
            </select>
            <select id='m2' class="demo1" multiple="multiple">
                <option value="1">深圳</option>
                <option value="2">广州</option>
                <option value="3">佛山</option>
                <option value="4">湛江</option>
                <option value="5">杭州</option>
                <option value="6">宁波</option>
                <option value="7">温州</option>
            </select>
            <input type="submit">
        </form>
        <br />
        <button id="current" class="btn btn-primary btn-sm">已经选择的值</button>
    </div>
</body>
</html>
<script>
        $(function() {
            $('.demo').ySelect();
        $('.demo1').ySelect(
          {
            placeholder: '请先选择一些项目',
        searchText: '搜索',
        showSearch: true,
        numDisplayed: 4,
            overflowText: '已选中 {n}项',
        isCheck:false
      }
    );

      $("#current").click(function(){
            alert($("#m1").ySelectedValues(","));
        alert($("#m1").ySelectedTexts(","));
      });



});
</script>
