<html>
<head>
    <title>获取上传图片大小</title>
    <script type="text/javascript">
        function GetFileSize() {
            var file = document.getElementById('fileToUpload').files[0];
            if (file) {
                var fileSize = 0;
                if (file.size > 1024 * 1024)
                    fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
                else
                    fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';
            }
            alert(fileSize);

        }

        //jquery版需要修改成如下
        //var file = $("选择器")[0];
        //if (file) {
        //    var fileSize = 0;
        //    if (file.files[0].size > 1024 * 1024)
        //        fileSize = (Math.round(file.files[0].size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
        //    else
        //        fileSize = (Math.round(file.files[0].size * 100 / 1024) / 100).toString() + 'KB';
        //}



/**/</script>
</head>
<body>
    <input type="file" id="fileToUpload" value="" onchange="GetFileSize()">
</body>
</html> 