
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginEmp</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Verify/css/verify.css" rel="stylesheet" />
    <script src="~/Verify/js/jquery.min.js"></script>
    <script src="~/Verify/js/verify.min.js"></script>
</head>
<body style="background-color:black">
    <div style="border-radius:20px;position:absolute;left:50%;top:50%;width:500px;height:300px;background-color:black;margin-left:-100px;margin-top:-100px;">
        <table class="table" style="width:400px;height:150px;position:absolute;margin-left:50px;margin-top:40px;border-color:black" >
            <tr>
                <td style="text-align:center;font-size:30px;color:white" readonly="readonly">项目管理系统</td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" style="border-radius:10px" id="Account" placeholder="请输入账号..."/></td>
            </tr>
            <tr>
                <td><input type="password" class="form-control" style="border-radius:10px" id="Password" placeholder="请输入密码..."/></td>
            </tr>
            <tr>
                <td style="right:20px">
                    <div id="mpanel1" style="width:280px"></div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
<script>

    $('#mpanel1').slideVerify({
        		type : 1,		//类型
        		vOffset : 5,	//误差量，根据需求自行调整
		        barSize : {
		        	width : '100%',
		        	height : '40px',
		        },
		        ready : function() {
		    	},
        success: function () {
            $.ajax({
                url: '/Project/Login?Name=' + $("#Account").val() + '&Pwd=' + $("#Password").val(),
                type: 'get',
                datatype: 'json',
                success: function (data) {
                    if (data > 0) {
                    location.href = '/Project/ShowProject';
                    }
                    else {
                        alert('用户名或密码错误'); 
                        location.href = '/Project/LoginEmp';
                    }
                }
            })
		        },
		        error : function() {
//		        	alert('验证失败！');
		        }
		        
		    });
</script>


