
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginEmp</title>
    <link rel="stylesheet" type="text/css" href="slider/verify.css">
</head>
<body>
    <div>
        <table>
            <tr>
                <td>账号：</td>
                <td><input type="text" id="Account" /></td>
            </tr>
            <tr>
                <td>密码：</td>
                <td><input type="text" id="Password" /></td>
            </tr>
            <tr>
                <td>
                    <div id="mpanel1"></div>
                </td>
            </tr>
        </table>
    </div>
    <script type="text/javascript" src="slider/jquery.min.js"></script>
    <script type="text/javascript" src="slider/verify.js"></script>
    <script>

        $('#mpanel1').slideVerify({
            type: 1,		//类型
            vOffset: 5,	//误差量，根据需求自行调整
            barSize: {
                width: '80%',
                height: '40px',
            },
            ready: function () {
            },
            success: function () {
                alert('验证成功，添加你自己的代码！');
                //......后续操作
            },
            error: function () {
                //		        	alert('验证失败！');
            }
        });
    </script>
</body>
</html>


